---
layout: default
---

{% include section.html background=page.image %}
  <div class="blog-hero">
    <div class="blog-hero-copy">
      <h1>{{ page.title }}</h1>
      {% if page.excerpt %}
        <p class="blog-hero-subtitle">{{ page.excerpt }}</p>
      {% endif %}
      {% include post-info.html author=page.author member=page.member published=page.date updated=page.last_modified_at tags=page.tags %}
    </div>
  </div>
{% include section.html %}

<article class="blog-content">
  {{ content }}
</article>

{% include section.html %}

{% include post-nav.html post=page %}
